body {
  font-family: "Kodchasan", sans-serif;
  color: #000;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* HEADER */
.header {
  padding: 15px 0 15px 0;
  background-color: aqua;
}

.header-content {
  display: flex;
}

.logo-link {
  display: flex;
}

.logo-text {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header-links {
  display: flex;
  margin-left: auto;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.btn-card {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
}
