body {
  font-family: "Kodchasan", sans-serif;
  color: #000;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

/* HEADER */
.header {
  padding: 15px 0 15px 0;
  background-color: #bff9fd;
}

.header-content {
  display: flex;
}

.logo-link {
  display: flex;
}

.logo-text {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

nav {
  display: flex;
}

.header-links {
  display: flex;
  margin-left: auto;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 75px;
}

.navigation-item {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.is-active {
  color: #3d86c3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navigation-item:hover,
.navigation-item:focus {
  color: #3d86c3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-card {
  position: relative;
  margin-left: 75px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
}

.order {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8fdfd;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* MAIN */

main {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(./img/bcg.jpg);
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 1050px;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.wrapp-hero {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background: #bff9fd;
  width: 1000px;
  height: 600px;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}

.hero-svg-new {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -4%;
  right: -2%;
  fill: none;
  stroke: #0569de;
}

.hero-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  border: none;
  background-color: #7cedf5;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.back {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.hero-link {
}
.hero-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 500px;
}
.hero-new {
}
.hero-text-one {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 1050px;
  margin-bottom: 30px;
}

.hero-text-two {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 1050px;
}

.hero-span-link {
}
.hero-text-link {
  color: #0569de;
  text-decoration: underline;
}
